%h1 Sign In

- if notice
  .alert.alert-error= notice

= form_for :session,
           :url => sessions_path,
           :html => { :class => "form-horizontal span6" } do |f|
  
  .control-group
    = f.label :login, "Login/Email", :class => 'control-label'
    .controls= f.text_field :login

  .control-group
    = f.label :password, :class => 'control-label'
    .controls= f.password_field :password

  %p.text-center
    =f.submit "Sign in", class: "btn btn-primary"

.clearfix

%p
  = link_to "New user?", signup_path
%p
  = link_to "Forgot your password?", password_recovery_path
