= form_for @user, :html => {:class => "form-horizontal"} do |f|
  - if @user.errors.any?
    .error_explanation
      %h2= pluralize(@user.errors.count, "error")
      prohibited this user from being saved:

      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %legend General info

    .control-group
      = f.label :login, :class => 'control-label'
      .controls
        = f.text_field :login

    .control-group
      = f.label :email, :class => 'control-label'
      .controls
        = f.text_field :email

    .control-group
      = f.label :full_name, :class => 'control-label'
      .controls
        = f.text_field :full_name

    .control-group
      = f.label :birthday, :class => 'control-label'
      .controls
        = f.date_select :birthday, {}, { :class => "input-small" }

    .control-group
      = f.label :password, :class => 'control-label'
      .controls
        = f.text_field :password

    .control-group
      = f.label :password_confirmation, :class => 'control-label'
      .controls
        = f.text_field :password_confirmation

  .clearfix

  %fieldset
    %legend Location

    .control-group
      = f.label :country, :class => 'control-label'
      .controls
        = f.text_field :country

    .control-group
      = f.label :state, :class => 'control-label'
      .controls
        = f.text_field :state

    .control-group
      = f.label :city, :class => 'control-label'
      .controls
        = f.text_field :city

    .control-group
      = f.label :address, :class => 'control-label'
      .controls
        = f.text_field :address

    .control-group
      = f.label :zip, :class => 'control-label'
      .controls
        = f.text_field :zip

  .clearfix

  = gmaps(:map_options => { :container_class => "map_container span5",
                          :auto_zoom => false,
                          :zoom => 16 },
        :markers => { :data => map_marker_for(@user)} )

  .actions
    = f.submit

