= form_for @user, :html => {:class => "form-horizontal"} do |f|
  - if @user.errors.any?
    .error_explanation
      .alert.alert-error
        The form contains
        = pluralize(@user.errors.count, "error")
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg

  - if @user.new_record?
    = render :partial => "registration_form_chunk", :locals => { :f => f }

  %fieldset.span6
    %legend Personal info
    = render :partial => "shared/form_field",
             :locals  => { :form  => f,
                           :field => f.text_field(:full_name),
                           :attribute => :full_name }
    
    = render :partial => "shared/form_field",
             :locals  => { :form  => f,
                           :field => f.date_select(:birthday, {}, { :class => "input-small" }),
                           :attribute => :birthday }

  .clearfix
  %fieldset.span6.user-location
    %legend Location

    - [:country, :state, :city, :address, :zip].each do |attribute|
      = render :partial => "shared/form_field",
             :locals  => { :form  => f,
                           :field => f.text_field(attribute),
                           :attribute => attribute }

    .actions.text-center
      = f.submit :value => @user.new_record? ? "Sign up!" : "Update profile"

  = gmaps(:map_options => { :container_class => "map_container span5",
                            :auto_zoom => false,
                            :zoom => 16 },
          :markers => { :data => map_marker_for(@user)} )

  :javascript
    $(function() {
    Gmaps.map.callback = function() {
      var geocoder = new google.maps.Geocoder();
      var map = Gmaps.map.serviceObject


      function codeUserAddress() {
        var address_parts = [];
        $('fieldset.user-location input').each(function() {
          address_parts.push(this.value);
        });

        geocoder.geocode({ 'address': address_parts.join(', ')}, function(results, status) {
          if (status != google.maps.GeocoderStatus.OK)
            return;

            map.setCenter(results[0].geometry.location);
            var marker = new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
            });
        });
        
      }

      $('fieldset.user-location input').change(codeUserAddress);
    }});

  .clearfix

