%h1 Users List

.row
  .span12
    %table.table
      %tr
        %th Login
        %th Full name
        %th Birthday
        %th Address
        %th
        %th

        - if admin?
          %th
          %th

      - @users.each do |user|
        %tr
          %td= user.login
          %td= user.full_name
          %td= user.birthday.strftime('%d.%m.%Y')
          %td= [user.country, user.city, user.address].join ', '
          %td
            = link_to content_tag('i', '', :class => 'icon-envelope'),
                      "mailto:#{user.email}",
                      :title => "Email to #{user.full_name}"
          %td
            = link_to content_tag('i', '', :class => 'icon-search'),
                      user,
                      :title => 'View profile'
          
          - if admin?

            %td
              = link_to content_tag('i', '', :class => 'icon-edit'),
                        edit_user_path(user),
                        :title => 'Edit'
            %td
              = link_to content_tag('i', '', :class => 'icon-remove'),
                        user,
                        :method => :delete,
                        :title => 'Delete',
                        :data => { confirm: 'Are you sure?' }

%h4 Users locations

= gmaps(:map_options => { :container_class => "map_container span5" },
        :markers => { :data => User.all.to_gmaps4rails })
