
%h1 Password recovery

- if notice
  .alert.alert-error= notice

= form_for :user,
           :url => perform_password_recovery_path,
           :html => { :class => "form-horizontal span6" } do |f|
  
  .control-group
    = f.label :login, "Your login or email", :class => 'control-label'
    .controls= f.text_field :login

  %p.text-center
    = f.submit "Recover password", :options => { :class => "btn btn-primary" }