
%h1
  = gravatar_for(@user)
  = @user.login

%p#notice
  = notice

%dl.dl-horizontal.span6
  %dt Full name
  %dd= @user.full_name

  %dt Email
  %dd= link_to @user.email, "mailto:#{@user.email}"

  %dt Birthday
  %dd= birthday_for(@user)

  %dt Country
  %dd= @user.country

  %dt State
  %dd= @user.state

  %dt City
  %dd= @user.city

  %dt Address
  %dd= @user.address
  
  %dt Zip
  %dd= @user.zip

= gmaps(:map_options => { :container_class => "map_container span5",
                          :auto_zoom => false,
                          :zoom => 16 },
        :markers => { :data => map_marker_for(@user)} )
.clearfix

= link_to 'Edit', edit_user_path(@user)
|
= link_to 'Back', users_path
