
%h1
  = gravatar_for(@user)
  = @user.login

%p#notice
  = notice

%dl.dl-horizontal.span6
  %dt Full name
  %dd= @user.full_name

  %dt Email
  %dd= link_to @user.email, "mailto:#{@user.email}"

  %dt Birthday
  %dd= birthday_for(@user)

  %dt Country
  %dd= @user.country

  %dt State
  %dd= @user.state

  %dt City
  %dd= @user.city

  %dt Address
  %dd= @user.address
  
  %dt Zip
  %dd= @user.zip

= render :partial => 'gmaps_user_location'
.clearfix