= form_for @advertisement, :html => {:class => "form-horizontal", :multipart => true} do |f|
  - if @advertisement.errors.any?
    .error_explanation
      .alert.alert-error
        The form contains
        = pluralize(@advertisement.errors.count, "error")
      %ul
        - @advertisement.errors.full_messages.each do |msg|
          %li= msg

  %div{ :class => ['control-group', @advertisement.errors[:content].any? ? 'error' : nil] }
    = f.label :content, :class => 'control-label'
    .controls
      = f.text_area(:content, :class => "input-xxlarge", :size => '50x7')
      - if @advertisement.errors[:content]
        %span.help-inline= @advertisement.errors[:content].join ', '
      %div.hint
        This content supports
        = link_to 'Textile', 'http://en.wikipedia.org/wiki/Textile_(markup_language)'
        markup

  %div{ :class => ['control-group', @advertisement.errors[:picture].any? ? 'error' : nil] }
    = f.label :picture, :class => 'control-label'
    .controls
      = f.file_field :picture
      - if @advertisement.errors[:picture]
        %span.help-inline= @advertisement.errors[:picture].join ', '
  
  - if @advertisement.picture.exists?
    %div.control-group
      %label.control-label
        Current picture
      .controls
        = image_tag @advertisement.picture.url(:medium)

  .actions.text-center
    = f.submit 'Save'