%h1 Advertisement Board

= will_paginate
#adslist.span10
  - @advertisements.each do |ad|
    %div{ :class => ['row', 'adv-body', "adv-#{ad.id}"] }
      .span1.adv-picture= link_to image_tag(ad.picture.url(:thumb)), ad
      .span9
        .adv-content= ad.content
        = render :partial => "sidebar", :locals => { :ad => ad }

.clearfix
= will_paginate

- if can? :create, Advertisement
  = link_to 'New Advertisement', new_advertisement_path
